
body {
color: #051d45;
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}

.hero {
  position: relative;
  width: 100%;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide {
  position: relative;
 
}

.slide img {
  width: 100%;
  height: auto;
  display: block;

}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 500px;
  background-color: rgba(186, 182, 182, 0.5);
  max-width: 100%; /* Limit width of text overlay */
  margin-left: 410px;
}
.text-overlay .explore-button {
  display: inline-block;
  transition: background-color 0.3s ease;

  background-image: linear-gradient(135deg,#18c9e8bb, #1f2937, #166b7a); 
  color: #f7f5f5;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  margin-left: 200px;
  animation: fadeIn 2.5s ease;
}

.text-overlay h3 {
  font-size: 2.5rem; /* Adjust the font size as needed */
  margin: 0;
  line-height: 2.2;
}

h1{
  font-size: larger;
}

/* Carousel styling */
.carousel {
  position: relative;
  overflow: hidden;
  height: 100vh;
  
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadeIn 2.5s ease;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 30%;
  left: 30%;

  text-align: center;
  color: white;
  /* background-color: rgba(232, 226, 226, 0.5); */
  padding: 50px;
  border-radius: 5px;
}

.explore-button {

  padding: 15px 20px;

  color: rgb(23, 4, 98);
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-right: 300px;
}

span{
  color: rgb(194, 26, 107);
}


.header a{
  margin-left: 4rem;
}
.header {
  padding-top: .5rem;
background-color: #060424;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Set width to 100% to cover the entire width of the viewport */
  height: 40px; /* Set height to your desired value */
  font-weight: 500;
  color: rgb(234, 241, 245);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 40;
 /* Linear gradient background for navbar */
}


.logo {
  display: inline-block; /* Ensure the logo and text are displayed inline */
}

.logo-img {
  width: 40px;
  height: 40px;
}

.logo-text-link {
  text-decoration: none;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  color: white;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit; /* Inherit color from parent */
}

.logo-img {
  width: 40px;
  height: 40px;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px; /* Adjust margin as needed */
}

.navbar {
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  transition: background-color 0.3s, color 0.3s;
}


/* for jacob */

/* to give space btw navs */
.navbar a{
  font-weight: 200;
  margin-right: 1rem;
  margin-left: 2.5rem;
transition: .3s;
}

/* to get color while touching */
.navbar a:hover,
.navbar a.active{
    color: rgb(129, 7, 84);

    
 
}


.slick-prev:before, .slick-next:before {
  color: black;
}
.slick-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carousel-image {
  /* Your CSS styles for the carousel images */
  opacity: .1;
}

/* ===============================Photos section================ */

.btn {
  background-image: linear-gradient(135deg,#051d45, #1f2937, #05398d); /* Dark background color */
  color: white;
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease; /* Add transition for smooth effect */
  animation: fadeInRight 2.5s ease;
}

.btn i {
  margin-left: 0.5rem;
}
.btn:hover {
  background-color: #bd5e27;

}
.btn:hover {
  background-color: #164e03; /* Slightly lighter shade on hover */
  transform: scale(1.05);
}



#photos {
  text-align: center;
  border-radius: 2px;
  background-size: cover;
  background-position: center;
  padding: 4rem; /* Adjust padding as needed */
  
}

#photos h2 {
  margin-bottom: 2rem;
}

#photos .bg-white img {
  border-radius: 10px; /* Adjust the border-radius value as needed */
  transition: transform 0.2s ease-in-out;
  
}

#photos .bg-white img {
  transition: transform 0.1s ease-in-out;
 
}

#photos .bg-white:hover img {
  transform: scale(1.01);
}
h3{
  animation: fadeInRight 2.5s ease;
}


.offer img {
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0.8;
}

.offer img:hover {
  opacity: 1;
  transform: scale(1.05);
}

h1{
  margin-bottom: 30px;
}
.btns{

  margin-left: 240px;
}

h1 {
  text-align: center;
  color: #333;
}

.offer {
  animation: fadeIn 2.5s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #f0eaea;
}

.offer img {
  height: 140px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.offer-content {
  flex: 1;
  margin-left: 15px;
}

.offer h2 {
  color:white#333;
  font-size: 24px;
  margin-bottom: 10px;
}
h2{
margin-left: 190px;
}
.offer p {
  color: rgb(225, 223, 223);
  font-size: 16px;
  margin-bottom: 10px;
}

.offer button {
  background-image: linear-gradient(135deg,#18c9e8bb, #1f2937, #065b6a); 
  padding: 10px 20px;
  animation: slide-out 1s ease-in;
  color: #d7d5ce;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.offer button:hover {

  background-image: #f54747;
}


.btns:hover {
  background-color: #d5a60c; /* Slightly lighter shade on hover */
  transform: scale(1.05);
}



@keyframes  fadeInUp {
  0%{
    opacity: 0;
    transform:translateY(50px) ;
  }
  100%{
    opacity: 1;
    transform:translateY(0px) ;
  }
  
}
@keyframes  fadeInRight {
  0%{
    opacity: 0;
    transform:translateX(-60px) ;
  }
  100%{
    opacity: 1;
    transform:translateX(0px) ;
  }
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* =====================contact section================ */

.sectionHeader{
  animation: fadeIn 2.5s ease;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--primaryColor);
  margin-bottom: .5em;
}

.head,.sub-heading{
  margin-bottom: .5em;
  font-weight: bold;
}

.head{
  font-size: 2.5em;
}

.sub-heading{
  text-align: left;
  margin-left: 250px;
}

.contactForm{
  display: grid;
  gap: 3em;
}

form{
  width: 100%;
  margin-top: 3em;
  margin-left: 150px;
}
h2{

  margin-right: 550px;
}

h4{
  margin-right: 20px;

}


.input{
  width: 95%;
  max-width: 700px;
  border: none;
  font-size: .9rem;
  padding: 1em;
  outline: none;
  background-color: rgb(65, 64, 64);
  color:whitesmoke;
  border-radius: 10px;
  border: 1px solid rgb(219, 213, 213);
  margin-bottom: 1em;
margin-right: 200px;
}

.input:focus{
  border: 1px solid rgb(29, 144, 227);
}

.input::placeholder{
  text-transform: capitalize;
}

.submit{
  background: linear-gradient(135deg,#051d45, #1f2937, #05398d); ;
  
  border: none;
  color: rgb(187, 178, 186);
  font-weight: bold;
  cursor: pointer;
  width: 50%;
  margin-left: 155px;
  animation: fadeIn 2.5s ease;
}

.map-container{

  position: relative;
  width: 100%;
  height: 500px;
}

.mapBg{
  position: absolute;

  top: 0;
  right: 0;
  width: 300px;
  height: 90%;
  border-radius: 20px;
}

.map{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
}

.map iframe{
  width: 80%;
  height:95%;
  border-radius: 5px;
margin-left: 100px;
}

.contactMethod{
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  text-align: left;
  margin-left: 250px;
  margin-right: 175px;
  color: white;
  
}
.para{
  color: rgb(149, 147, 147);
  font-size: 1.1rem;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.para2{
  text-align: left;
}
.method{
  display: flex;
  align-items: center;
}

.contactIcon{
  font-size: 2rem;
  color:rgba(0, 50, 100, 0.8);
  width: 70px;
  animation: fadeInRight 2.5s ease;
}
.contactForm{
  margin-left: -2px;
}

@media screen and (min-width:800px) {

  .contactForm{
      grid-template-columns: 1fr 1fr;
  }   

  .contactMethod{
      flex-direction: row;
      justify-content: space-between;
  }
}
/* =====================FOOTER SECTION */

.bg-gray-500 {
  background-color: #2d3748;
}
.text-white {
  color: #fff;
}
.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.text-center {
  text-align: center;
}
.social-icons {
  margin-top: 1rem;
}
.social-icons a {
  color: inherit;
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}
.social-icons a:hover {
  color: #ff6347; /* Change this to any color you prefer for hover effect */
}
.fa-instagram {
  color: rgb(161, 18, 120);
}
.fa-facebook {
  color: #1877F2;
}
.fa-whatsapp {
  color: #25D366;
}
.fa-linkedin {
  color: #0A66C2;
}




/* styles.css */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}


.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
  animation: slide-in 1s ease-out;
}




/* Animations */
@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}


@keyframes slide-out {
  from {
      transform: translateY(-50px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}


@keyframes slide-in {
  from {
      transform: translateY(-50px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .content {
      flex-direction: column;
  }

  .image, .text {
      margin: 0;
      text-align: center;
  }

  .image {
      margin-bottom: 20px;
  }
}

